// SECTION 1 BEIGE

    #sectionunbeige
    background-color: beige
    height: 300px
    padding-top: 40px
    padding-bottom: 40px

#h1citation
    width: 900px
    text-align: center
    margin: auto
    padding-top: 50px
    font-size: 35px

#programmers
    color: white
    background-color: blue

#complexity
    color: blue 

#simplicity
    font-family: robotobold

#h1buzz
    text-align: center
    margin: auto
    padding-top: 50px
    font-size: 35px

// SECTION 2 QUATUOR

#sectionquatuor
    display: flex
    margin-left: 50px
    margin-right: 50px
    justify-content: space-between

.quatuorcard
    background-color: grey
    text-align: center

.iconquatuor
    color: blue
    font-size: 35px
    width: 80px
    height: 80px
    align-items: center
    text-align: center
    margin: auto
    background-color: white
    border-radius: 50%

#iconpencil
    margin-top: 20px

#iconumbrella
    margin-top: 20px

#iconflask
    margin-top: 20px

#iconfb
    margin-top: 20px

.quatuorcard>p
    width: 320px
