// SECTION 1 BEIGE

#sectionunbeige
    background-color: rgb(211, 211, 211)
    height: 300px
    padding-top: 40px
    padding-bottom: 40px

#h1citation
    width: 900px
    text-align: center
    margin: auto
    padding-top: 50px
    font-size: 35px

#programmers
    color: white
    background-color: blue

#complexity
    color: blue 

#simplicity
    font-family: robotobold

#h1buzz
    text-align: center
    margin: auto
    padding-top: 50px
    font-size: 35px

// SECTION 2 QUATUOR

#sectionquatuor
    display: flex
    margin-left: 100px
    margin-right: 100px
    margin-top: 50px
    justify-content: space-between

.quatuorcard
    background-color: rgb(211, 211, 211)
    text-align: center

.iconquatuor
    color: blue
    font-size: 30px
    width: 70px
    height: 70px
    align-items: center
    text-align: center
    margin: auto
    background-color: white
    border-radius: 50%
    margin-top: 20px

#iconpencil
    margin-top: 20px

#iconumbrella
    margin-top: 20px

#iconflask
    margin-top: 20px

#iconfb
    margin-top: 20px

.quatuorcard>p
    width: 270px
    padding-left: 10px
    padding-right: 10px

// LAST SECTION

#lastsection
    display: flex
    margin-left: 100px
    margin-right: 100px
    margin-top: 80px
    justify-content: space-between
    margin-bottom: 100px

#recentwork
    width: 500px
    padding-right: 30px
    margin-right: 100px

#recentwork>button
    background-color: blue
    color: white
    padding-top: 10px
    padding-bottom: 10px

#troiscartesdiv
    display: flex
    justify-content: space-between

#cartecatalogue
    color: white
    background-color: blue
    margin-left: 22px
    margin-right: 22px

#carteloupe
    color: white
    background-color: blue
    margin-left: 22px
    margin-right: 22px

#carterocket
    color: white
    background-color: blue
    margin-left: 22px
    margin-right: 22px

.carteimg>img
    width: 100%

.cartebluebg
    text-align: center

.cartebluebg>p
    padding-left: 10px
    padding-right: 10px